@model IEnumerable<MDRownakJahanTanjil_296627.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReqDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReqDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup.GroupName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReqID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReqID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReqID })
        </td>
    </tr>
}

</table>
